<nav class="navbar navbar-default">
    <div class="container-fluid couleur">
      <div class="row">
        <div class="col-xs-2 col-sm-2">
        <h3> Statistique</h3>
        <ul>
        </ul>
        </div>
  
        <div class="col-xs-2 col-sm-2">
        <h3 margin-left="500px">FAQ</h3>
        <ul>
        </ul>
        </div>
  
        <div class="col-xs-2 col-sm-2">
        <h3>Mentors</h3>
        <ul>
        </ul>
        </div>
  
        <div class="col-xs-2 col-sm-2">
        <h3>Blog</h3>
        <ul>
        </ul>
        </div>
        <div class="col-xs-2 col-sm-2">
        <h3>Contact</h3>
        <ul>
        </ul>
        </div>
      

  <div class="col-xs-2 col-sm-2">    
  <div class="bor-top ">
  <span class="fa-stack fa-lg">
  <i class="fa fa-square-o fa-stack-2x"></i>
  <i class="fa fa-twitter fa-stack-1x"></i>
  </span>
  
  <span class="fa-stack fa-lg">
  <i class="fa fa-circle fa-stack-2x"></i>
  <i class="fa fa-thumbs-o-up fa-stack-1x fa-inverse"></i>
  </span>
  
  <span class="fa-stack fa-lg">
  <i class="fa fa-square-o fa-stack-2x"></i>
  <i class="fa fa-facebook-square fa-stack-1x " ></i>
  </span>
  </div>
</div>

  </div>
  </div>
  </nav>