{% extends 'base.html' %}
{%load static%}
{% block corp%} 

    
<div class="col-md-8">
   
<div style="width:50%; margin:auto;" class="marge">

            <h3>Connexion</h3>
            <form method="post" action="{% url 'utilisateur:connexion'  %}">
                    {% csrf_token %}
                    {% for error in form %}
                    <div class="form-group has-errors text-danger small">
                        {{error.errors}}
                    </div>
                    {% endfor %}

                    {% for field in form %}
                    <div class="form-group has-errors text-danger small">
                        {{field.errors}}
                    </div>
                    <div class="form-group has-errors text-danger small">
                    </div>
                    <div class="form-group">
                        {{field}}
                    </div>
                    {% endfor %}
                    <div>
                    <button class="btn btn-primary" style="width:100%">Login</button>
                    </div>

                    {% if error%}
                    <p><strong> Utilisateur ou mots de passe incorect</strong></p>
                    {% endif%}
            </form>
</div>

</div>

 {% endblock %}