

{% extends 'base.html' %}
{%load static%}
{% block corp%} 

    
<div class="col-md-8">

<div class="row espace">    
<div  class="exp">

<h3>A propos de Finso</h3>

<div class="tex">
« FinSo» est la première plateforme de financement participatif qui vient en appui et en aide aux Associations de développement, ONG sénégalaises qui œuvrent pour le développement communautaire et social au Sénégal, mais lesquelles font très souvent face aux difficultés financières pour mener à bien leurs programmes et projets.
En effet, selon d’après les résultats de l’étude que nous avons menée tout récemment, les ONG et associations locales de développement réparties dans les 14 régions du Sénégal ont du mal à mobiliser les ressources financières nécessaires pour réaliser leurs projets. Cette situation entraîne souvent des chômages techniques dans ces organisations, handicapant ainsi leur développement et leur impact social dans les zones où elles interviennent.
C’est en réponse à cette problématique qu’a été conçu et développé un nouvel outil de financement social « FinSo, finançons autrement le social » simple et facilement accessible par les ONG et Associations devant leur permettre de mobiliser facilement des fonds afin de mener à bien leurs projets en faveur des populations défavorisées.
Implantée au Sénégal et utilisant des moyens de paiement simples et utilisés au Sénégal (Orange Money, Tigo cash, Vitfé, Joni Joni, Visa, Mastercard), la plateforme « FinSo » permettra aux internautes du monde entier et aux bailleurs de fonds de pouvoir contribuer aux projets de développement qui seront soumis par ces associations et ONG de développement.
</div>                  
</div>
</div>

</div>

 {% endblock %}