{%extends 'admin/base.html'%}
{%load static%}
{% block head%} 
Detail
{% endblock %}
{%block corp%}
<div class="col-lg-8">
 <div class="panel panel-default">
      <div class="panel-heading">
        <em> Montant:</em> <strong style="margin-left: 0px"> {{projet.Montant}} F</strong> <em style="margin-left: 50px"> Date debut:</em> <strong>{{projet.date_debut}} </strong>  <em style="margin-left: 50px"> Date Fin:</em> <strong> {{projet.date_fin}}</strong>
      </div>
      <div class="panel-body">
       <p>
          {{ projet.description }} 
       </p>
      </div>                
</div>
</div>

<div class="col-lg-4"> 
<div class="panel panel-default">
      <div class="panel-heading">
          Societe:{{ projet.id_user.nom }}
      </div>
      <div class="panel-body">
      {% for p in m %} 
                        <p style="float:left;">
                         <img src="{%static 'media/'|add:p.nom' %}" width="250" height="250" >
                        </p>
                         {% endfor %}
      </div>                
</div>
</div>
{% endblock %}
                
     