{%extends 'admin/base.html'%}
{%load static%}
{%block corp%}
 <div class="col-lg-12">
    <div class="jumbotron">
    <p>Montant: {{projet.Montant}}   Date debut: {{projet.date_debut}}   Date Fin: {{projet.date_fin}}</p>
        {% for p in m %} 
        <p style="float:left;">
         <img src="{%static 'media/'|add:p.nom' %}" width="200" height="200" >
        </p>
         {% endfor %}
        <p style="margin-left: 10px">{{projet.description}}</p>    
    </div>
</div>
{% endblock %}
                
     